* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation bar styles start */
nav {
  background-color: gold;
  width: 100%;
  padding: 20px;
}
.mynav {
  text-align: center;
}
.mynav > li {
  list-style: none;
  display: inline;
}
.mynav > li > a {
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
}
.mynav > li > a:hover {
  background-color: blueviolet;
  padding: 21px;
  color: white;
}
/* navigation bar styles end */
/* landing page start */
.toppage {
  height: 95vh;
}
.toptext {
  position: absolute;
  font-size:20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toptext > img {
  max-width: 300px;
  border-radius: 30%;
}

/* landing page end */
/* about section styling */

/* p {
  font-size: 30px;
  margin-left: 10px;
} */
.proj-image {
  width: 30%;
  align-items: center;
  padding-left: 780px;
  display: block;
  height: auto;
}
.p {
  text-align: center;
}
.icon {
  text-align: center;
  font-size: 50px;
  color: black;
}
footer p {
  text-decoration: none;
  text-underline-position: none;
}
.link {
  text-align: center;
}
.footer {
  width: 100%;
  padding: 0 auto;
  margin-top: 0px;
  background-color: rgba(100, 50, 30, 0.5);
}
.sect {
  font-size: 50px;
}
